@import 'tailwindcss';

@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';


@theme {
  /* Her tilføjes theme variable // tokens */
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer components{

}
@layer utilities{
  
}

@keyframes slide-in {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(50%);
    opacity: 1;
  }
}

.slide-in {
  
  animation: slide-in 10s linear infinite alternate both;
}

.animate__flipInX {
  -webkit-animation: flipInX 2s linear infinite alternate both;
	        animation: flipInX 5s linear infinite alternate both;
}

.animate__bounceIn {

  -webkit-animation: bounceIn 10s linear infinite alternate both;
          animation: bounceIn 8s linear infinite alternate both;
}

.animate__slideInRight {
  -webkit-animation: slideInRight 20s linear infinite alternate both;
          animation: slideInRight 40s linear infinite alternate both;
}

.animate__rollIn {
  -webkit-animation: rollIn 10s ease-in-out infinite alternate both, swim 10s ease-in-out infinite alternate both;
          animation: rollIn 10s ease-in-out infinite alternate both, swim 10s ease-in-out infinite alternate both;
}

@keyframes rollIn {
  0% {
    transform: translateY(0) rotate(0deg);
  }
 
  50% {
    transform: translateY(0) rotate(0deg);
  }
  75% {
    transform: translateY(10px) rotate(5deg);
  }
  100% {
    transform: translateY(0) rotate(0deg);
  }
}

.color-change-2x {
	-webkit-animation: color-change-2x 2s linear infinite alternate both;
	        animation: color-change-2x 5s linear infinite alternate both;
}

@keyframes color-change-2x {
  0% {
    color: rgb(30, 234, 210);
  }
 
  50% {
    color: rgb(0, 170, 255);
  }
 
  100% {
    color: blue;
  }
}

.color-change {
  animation: color-change 5s linear infinite;
}

.animate__rollOut {
  -webkit-animation: rollOut 10s infinite alternate both;
          animation: rollOut 10s infinite alternate both;
}