@import 'tailwindcss';

@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';


@theme {
  /* Her tilføjes theme variable // tokens */
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer components{

}
@layer utilities{
  
}

@keyframes slide-in {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(50%);
    opacity: 1;
  }
}

.slide-in {
  
  animation: slide-in 10s linear infinite alternate both;
}

.animate__flipInX {
  -webkit-animation: flipInX 2s linear infinite alternate both;
	        animation: flipInX 5s linear infinite alternate both;
}