---
import Youcando from "../components/Youcando.astro";
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Herounit from "../components/Herounit.astro";
import { Image } from "astro:assets";
import thumbsup from "../assets/images/thumbsup.png";
import Imgcircle from "../components/Imgcircle.astro";
import Merchogsome from "../components/Merchogsome.astro";
import Merinfo from "../components/Merinfo.astro";
import Problemplast from "../components/Problemplast.astro";
import Scrollyelement from "../components/Scrollyelement.astro";
import Whatis from "../components/Whatis.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<div class="progress-bar h-4 fixed w-full bg-gradient-to-r from-[#45d6e3] to-[#113e86] left-0 origin-top-left top-0 right-0"></div>

<MainLayout title="Titel">
  <Header />
  <Herounit />
  <Whatis />
  <Merinfo />
  <Problemplast />
  <Youcando />
  <Scrollyelement />
  <Imgcircle />
  <Merchogsome />
  <Footer />
</MainLayout>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const progressBar = document.querySelector(".progress-bar");
    window.addEventListener("scroll", () => {
      const maxScroll = document.documentElement.scrollHeight - window.innerHeight;
      const percentage = (window.scrollY / maxScroll) * 100;
      progressBar.style.width = `${percentage}%`;
    });
  });
</script>
