---
import Button from "./Button.astro";
---
<!-- Mobile Menu -->
<nav id="mobilmenu" class=" flex flex-col content-center justify-content-center pt-4 bg-blue-800">
    <ul class="flex flex-col text-center gap-10 py-10">
        <li><a href="/Whatis">Forbrug</a></li>
        <li><a href="/Problemplast">Problemet</a></li>
        <li><div class="flex justify-center">
  <button class="rounded bg-[#FF0043] text-white px-4 py-2">Giv et bidrag</button>
</div></li>
    </ul>
</nav>