<div class="flex justify-between gap-1.5 p-15 bg-[#212631] text-white">
    <div>
        <p class="text-3xl mb-4">Kontakt</p>
        <p class="leading-loose">
            Mail: info@plasticchange.org <br>
            Tlf: +45 42 66 72 46
        </p>
    </div>
    <div>
        <p class="text-3xl mb-4"> Om os</p>
        <p class="leading-loose">
            Foreningen Plastic Change <br>
            Sådan arbejder vi <br>
            Regnskab & vedtægter <br>
            Presse <br>
            Kontakt os
        </p>
    </div>
    <div>
        <p class="text-3xl mb-4">Information</p>
        <p class="leading-loose">
            CVR: 35778985 <br>
            Konto: 84110002039618 <br>
            MobilePay: 304961 <br>
            Privatlivspolitik <br>
            Betalingspolitik
        </p>
    </div>
</div>

  