<div class="flex justify-between gap-3 p-4 md:p-15 bg-[#212631] text-white color-change-2x">
  <div class="text-sm md:text-base">
    <p class="text-lg md:text-3xl mb-2 md:mb-4">Kontakt</p>
    <p class="leading-snug md:leading-loose">
      Mail: info@plasticchange.org <br />
      Tlf: +45 42 66 72 46
    </p>
  </div>
  <div class="text-sm md:text-base">
    <p class="text-lg md:text-3xl mb-2 md:mb-4">Om os</p>
    <p class="leading-snug md:leading-loose">
      Foreningen Plastic Change <br />
      Sådan arbejder vi <br />
      Regnskab & vedtægter <br />
      Presse <br />
      Kontakt os
    </p>
  </div>
  <div class="text-sm md:text-base">
    <p class="text-lg md:text-3xl mb-2 md:mb-4">Information</p>
    <p class="leading-snug md:leading-loose">
      CVR: 35778985 <br />
      Konto: 84110002039618 <br />
      MobilePay: 304961 <br />
      Privatlivspolitik <br />
      Betalingspolitik
    </p>
  </div>
</div>
