---
import Button from "./Button.astro";
import Dropdown from "./Dropdown.astro";

---
<div x-data="{ showmenu: false }" class="bg-blue-800 p-4 fixed lg:static w-full z-40 top-0">
    <div id="navbar" class="flex flex-row justify-between text-white">
        <div id="logo" class="my-auto lg:text-2xl">
            <a href="/">
                <img src="/icons/logo.png" alt="Logo" class="sm:max-h-[80px] md:max-h-[100px] lg:max-h-[160px]">
            </a>
        </div>
        <!-- Desktop Menu -->
        <nav id="desktopmenu" class="hidden lg:block content-center sticky top-0 bg-blue-800">
            <ul class="lg:flex flex-row gap-12">
                <li><a href="/Whatis">Forbrug</a></li>
                <li><a href="/Problemplast">Problemet</a></li>
                <li><div class="pr-20"><Button></Button></div></li>
            </ul>
        </nav>
        <!-- Burger Icon -->
        <button id="burgermenu" class="lg:hidden text-2xl font-bold text-white uppercase" 
                x-on:click="showmenu = !showmenu">
            <img src="/icons/burger.png" alt="burger">
        </button>
    </div>
    <!-- Mobile Dropdown Menu -->
    <div x-show="showmenu" x-transition x-cloak class="lg:hidden bg-blue-800 text-white p-4">
        <Dropdown />
    </div>
</div>