---

---

<article class="">
  <section class="">
    <div class="relative">
      <img src="/Herobillede.jpg" alt="billede" class="m-0 h-[100vh] w-full bg-cover bg-center" />
      <h1 class="absolute top-1/6 left-1/2 transform -translate-x-1/2 text-white text-bold text-3xl sm:text-7xl">Plastic Change</h1>
      <h1 class="absolute inset-0 flex items-center justify-center text-white text-4xl animate__flipInX">#SingleUSeSucks</h1>
      <p class="max-w-7xl mx-auto px-10 md:px-[40px] lg:px-[100px] pt-20 md:pt-0 absolute inset-0 flex items-center justify-center text-white text-xl mt-20">Vores verden kan ikke holde til mere unødvendig plastik.</p>
    </div>
    <button class="absolute bottom-45 left-1/2 transform -translate-x-1/2 rounded bg-[#FF0043] text-white px-4 py-2 animate__bounceIn">Giv et bidrag</button>
    <img src="/herofisk.png" alt="billede" class="absolute top-1/1 left-1/4 transform -translate-x-1/2 -translate-y-1/2 w-60" />
  </section>
  <section class="max-w-7xl mx-auto px-10 md:px-[40px] lg:px-[100px] pt-20 md:pt-0"></section>
</article>

<form class="max-w-md mx-auto">
  <div class="relative z-0 w-full mb-5 group">
    <div class="grid grid-cols-3 gap-4">
      <div><p class="text-white text-2xl">Hej jeg hedder</p></div>
      <div>
        <input type="text" name="floating_first_name" id="floating_first_name" class="mt-0 block py-2.5 px-5 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-white appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required />
        <label for="floating_first_name" class="peer-focus:font-medium absolute text-sm text-white dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">First name</label>
      </div>
      <div>
        <input type="text" name="floating_last_name" id="floating_last_name" class="mt-0 block py-2.5 px-5 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-white appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required />
        <label for="floating_last_name" class="peer-focus:font-medium absolute text-sm text-white dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Last name</label>
      </div>
    </div>
  </div>

  <div class="relative z-0 w-full mb-5 group">
    <div class="grid grid-cols-2 gap-4">
      <div><p class="text-white text-2xl">Jeg vil gerne støtte Plastic Change med</p></div>
      <div>
        <input type="number" name="donation_amount" id="donation_amount" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-white appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required />
        <label for="donation_amount" class="peer-focus:font-medium absolute text-sm text-white dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Donation Amount</label>
      </div>
    </div>
  </div>

  <div class="relative z-0 w-full mb-5 group">
    <div class="grid grid-cols-2 gap-4">
      <div><p class="text-white text-2xl">Jeg bor på</p></div>
      <div>
        <input type="text" name="floating_address" id="floating_address" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-white appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required />
        <label for="floating_address" class="peer-focus:font-medium absolute text-sm text-white dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Address</label>
      </div>
    </div>
  </div>

  <div class="relative z-0 w-full mb-5 group">
    <div class="grid grid-cols-2 gap-4">
      <div><p class="text-white text-2xl">Og kan kontaktes på</p></div>
      <div>
        <input type="email" name="floating_email" id="floating_email" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-white appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required />
        <label for="floating_email" class="peer-focus:font-medium absolute text-sm text-white dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Email address</label>
      </div>
    </div>
  </div>
</form>

<div class="flex justify-center">
  <button class="rounded bg-[#FF0043] text-white px-4 py-2">Giv et bidrag</button>
</div>
