---

---

<article class="">
  <section class="">
    <div class="relative">
      <img src="/Herobillede.jpg" alt="billede" class="m-0 h-[100vh] w-full bg-cover bg-center" />
      <h1 class="absolute inset-0 flex items-center justify-center text-white text-4xl">#SingleUSeSucks</h1>
      <p class="max-w-7xl mx-auto px-10 md:px-[40px] lg:px-[100px] pt-20 md:pt-0 absolute inset-0 flex items-center justify-center text-white text-xl mt-20">Vores verden kan ikke holde til mere unødvendig plastik.</p>
    </div>
    <button class="absolute bottom-10 left-1/2 transform -translate-x-1/2 rounded bg-[#FF0043] text-white px-4 py-2">Giv et bidrag</button>
  </section>

  <section class="max-w-7xl mx-auto px-10 md:px-[40px] lg:px-[100px] pt-20 md:pt-0"></section>
</article>
