---
---


<div>

<p class="text-center text-7xl text-[#F8F8F8] font-bold p-15">Gør en forskel <br>
– shop merch og støt <br>
 Plastic Change!</p>

<img src="public/merchkop.png" alt="">

</div>

<div class="flex w-full h-full">
    <div class="bg-white flex-1 flex items-center justify-center p-0">
        <p>Vær med i kampen mod <br> plastikforurening</p>
    </div>    

    <img class="flex-1 w-full h-full object-cover" src="public/instaimgbg.png" alt="">
</div>