---
---

---
---

<div>
<h1 class="text-7xl font-bold mb-20 text-center text-[#F8F8F8]">Ønsker du mere info?</h1>

<div class="grid grid-cols-4 gap-10 mb-40">
    <a href="link_1.html"><img class="w-full ml-10" src="public/info_1.png" alt="Billede 1"></a>
    <a href="link_2.html"><img class="w-full ml-10" src="public/info_2.png" alt="Billede 2"></a>
    <a href="link_3.html"><img class="w-full ml-10" src="public/info_3.png" alt="Billede 3"></a>
    <a href="link_4.html"><img class="w-full ml-10" src="public/info_4.png" alt="Billede 4"></a>

    <a href="link_5.html"><img class="w-full mr-10" src="public/info_5.png" alt="Billede 5"></a>
    <a href="link_6.html"><img class="w-full mr-10" src="public/info_6.png" alt="Billede 6"></a>
    <a href="link_7.html"><img class="w-full mr-10" src="public/info_7.png" alt="Billede 7"></a>
    <a href="link_8.html"><img class="w-full mr-10" src="public/info_8.png" alt="Billede 8"></a>
</div>





  

    <div class="">
        <img class="" src="public/skildpade.svg" alt="Billede 1">
    </div>
</div>