---

---

<div class="text-center text-[#F8F8F8]">
  <h1 class="poppins-regular text-7xl font-bold mb-20 animate__flipInX">Hvad er problemet <br /> med plastik forbrug ?</h1>

  <p class="text-left font-bold leading-loose gap-10 px-6 md:px-80 mb-10 md:mb-30">
    Hvert eneste år ender ca. 11 millioner tons plastik i havet. Plastikkrisen er en af vores tids største udfordringer og påvirker både klima, miljø og menneskers sundhed. Plastikproduktionen er stærkt afhængig af fossile brændstoffer, hvilket øger CO2-udledningen og bidrager til global opvarmning. <br />
    Når plastikken ikke håndteres korrekt, ender den ofte i naturen, hvor den ødelægger økosystemer, skader dyrelivet og især havmiljøet. Samtidig nedbrydes plastik til mikroplast, der forurener vores vand og luft og optages i fødekæden, hvilket har uforudsigelige konsekvenser for både dyr og mennesker. Det kræver handling på alle niveauer at reducere plastikkens negative indvirkning på vores planet.
  </p>
</div>

<img class="animate__rollOut" src="/skraldeposelilla.svg" alt="" />
