---

---

<article class="">
  <section class="">
    <div class="flex justify-center gap-4"></div>
    <img src="/blåplastikflaske.png" alt="Image 1" class="w-40" />
    <img src="/grønplastikflaske.png" alt="Image 2" class="w-40" />
  </section>

  <div class="relative">
    <h1 class="text-white text-2xl text-center">Din støtte går blandt andet til at:</h1>

    <section class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 mt-8">
      <div class="card bg-[#ffffff8a] p-4 shadow">
        <div class="flex justify-center">
          <img src="/vandflaske.svg" alt="svg" />
        </div>
        <h2 class="text-center text-xl font-bold mb-2 text-[#FF1054]">Beskytte naturen og havet</h2>
        <p class="text-black">Hvert år ender 15 millioner tons plastik i havet – svarende til to lastbiler i minuttet. Blot 10 plastikprodukter, primært engangsplast fra fødevareemballage, udgør 75% af affaldet.</p>
      </div>
      <div class="card bg-[#ffffff8a] p-4 shadow">
        <div class="flex justify-center">
          <img src="/jordklode.svg" alt="svg" />
        </div>
        <h2 class="text-center text-xl font-bold mb-2 text-[#FF1054]">Mindske klimaaftryk</h2>
        <p class="text-black">Plastikproduktionen udleder mere CO2 end den globale flyindustri og forventes at firedobles inden 2050. Genbrugsmål på 50% for emballage kan spare Europa for 3,7 mio. tons CO2 årligt – svarende til det nuværende antal personbilers årlige udledning i Hovedstadsområdet, Region Sjælland, Aarhus, Odense, Aalborg og Bornholm.</p>
      </div>
      <div class="card bg-[#ffffff8a] p-4 shadow">
        <div class="flex justify-center">
          <img src="/ressourcehjul.svg" alt="svg" />
        </div>
        <h2 class="text-center text-xl font-bold mb-2 text-[#FF1054]">Skåne jordens ressourcer</h2>
        <p class="text-black">Vi bruger 130 mio. engangskopper årligt i Danmark, ofte i kun 15 minutter, før de smides ud. Genbrug af 50% af emballage i Europa kan spare 10 mia. kubikmeter vand – svarende til 4 mio. olympiske pools om året..</p>
      </div>
      <div class="card bg-[#ffffff8a] p-4 shadow">
        <div class="flex justify-center">
          <img src="hjerte.svg" alt="svg" />
        </div>
        <h2 class="text-center text-xl font-bold mb-2 text-[#FF1054]">Beskytte folkesundheden</h2>
        <p class="text-black">Op mod 12.000 kemikalier bruges i emballage og andet fødevarekontaktmateriale, hvoraf flere er farlige for menneskers helbred. De kan føre til kræft, hjertesygdomme, diabetes og autoimmune lidelser.</p>
      </div>
    </section>
    <div class="flex justify-center">
      <button class="rounded bg-[#FF0043] text-white px-4 py-2">Se andre støtteformer </button>
    </div>
  </div>
</article>
