---

---

<div class="relative">
  <img src="/whatisbølge.png" alt="billede" class="m-0 h-[100vh] w-full bg-cover bg-center" />

  <img src="/whatisflaske.png" alt="overlay" class="absolute top-5 left-5 w-100% h-100" />

  <h1 class="poppins-regular absolute top-1/4 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-white text-7xl font-bold mb-20 animate__flipInX">
    Hvad er <br /> Plastic Change?
  </h1>

  <p class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-white text-xl font-bold">
    Plastic Change arbejder for en verden, hvor plastforurening er fortid, og hvor cirkulære løsninger er kernen i vores samfund. Vores indsats er bygget på en klar vision og en fokuseret strategi, der skal skabe både oplysning og handling på tværs af landegrænser. <br />
    Gennem oplysning, politisk påvirkning og forskning arbejder vi målrettet mod en fremtid, hvor plastikkens negative påvirkninger minimeres – for mennesker og naturens skyld.
  </p>
  <img src="/whatisfisk.png" alt="overlay" class="absolute bottom-2 right-5 w-1/4 h-auto animate__rollIn" />
</div>
