---
---

<div class="relative w-full bg-cover bg-center" style="background-image: url('/whatisbølge.png');">
  <!-- Billede med flasken til venstre -->
  <img src="/whatisflaske.png" alt="" class="absolute left-0 top-1/2 transform -translate-y-1/2 ml-10">

  <!-- Tekst i midten -->
  <div class="text-center text-[#F8F8F8] relative z-10 px-8">
    <h1 class="text-7xl font-bold mb-20">Hvad er <br> Plastic Change?</h1>
    <p class="text-left font-bold leading-loose gap-10 px-80 mb-30">
      Plastic Change arbejder for en verden, hvor plastforurening er fortid, og hvor cirkulære løsninger er kernen i vores samfund. Vores indsats er bygget på en klar vision og en fokuseret strategi, der skal skabe både oplysning og handling på tværs af landegrænser. <br>
      Gennem oplysning, politisk påvirkning og forskning arbejder vi målrettet mod en fremtid, hvor plastikkens negative påvirkninger minimeres – for mennesker og naturens skyld.
    </p>
  </div>

  <!-- Fiskebillede i bunden -->
  <img class="flex justify-center mx-auto mb-50" src="/whatisfisk.png" alt="">
</div>


