---

---

<img src="/gulfisk.png" alt="billede" class="absolute top-12/2 right-1/12 transform -translate-x-1/2 -translate-y-1/2 w-60" />
<div class="text-center text-[#F8F8F8] border-2 border-[#0050A6] bg-[#0050A6] rounded-full">
  <h1 class="poppins-regular text-7xl font-bold mb-20 animate__flipInX">Hvad kan du gøre?</h1>

  <p class="text-left font-bold leading-loose px-6 md:px-80 mb-10 md:mb-30 text-base md:text-lg">
    Du kan beskytte naturen, dyrelivet og vores børn mod plastik. Plastikforurening truer livet i havet og på jorden. Hver dag forurenes naturen med tusindvis af plaststykker, som aldrig forsvinder igen. Hvert minut tømmes plastikaffald ud i havet, som vikler sig rundt om sæler, skildpadder, delfiner og ender i maver på hvaler, fugle og fisk.
    <br /><br />
    Kun med din støtte kan vi kæmpe for, at politikere og virksomheder tager ansvar for at standse overproduktion og forurening fra plastik nu, og at vi kan uddanne fremtidens forbrugere. Du bliver en del af en global Plastic Changer bevægelse, der siger: <span class="text-[#E84649]">STOP PLASTIKFORURENING NU!</span>
  </p>
  <div class="flex justify-center">
    <button class="rounded bg-[#FF0043] text-white px-4 py-2 animate__bounceIn">Giv et bidrag</button>
  </div>
</div>
